<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2><%== t(:headline, scope: [:pages, :password]) -%></h2>
</div>
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h5 class="my-0 font-weight-normal"><%== t(:fill_the_form, scope: [:pages, :password])-%></h5>
    </div>
    <div class="card-body">
      <%= form_for(current_user, url: password_path, method: :post, html: { class: 'custom-form-class', id: 'recaptcha-form' }, data: { turbo: false }) do |f| %>
        <%= f.password_field :current_password, required: :required, autocomplete: "new-password", class: 'form-control mb-3', placeholder: t(:current_password, scope: [:pages, :password, :placeholders]) %>
        <%= f.password_field :password, required: :required, autocomplete: "new-password", class: 'form-control mb-3', placeholder: t(:new_password, scope: [:pages, :password, :placeholders]) %>
        <%= f.password_field :password_confirmation, required: :required, autocomplete: "new-password", class: 'form-control', placeholder: t(:password_confirmation, scope: [:pages, :password, :placeholders]) %>
        
        <p class="">&nbsp;</p>
        <div id='recaptcha' class="g-recaptcha"
            data-sitekey="6LfoSZAnAAAAAP72FqPT0694d54QDP-YsDde6xqT"
            data-callback="onCompleted"
            data-size="invisible"></div>
        <%= f.submit t(:cta_update, scope: [:pages, :password]), class: 'btn btn-lg btn-primary btn-block mb-15' %>
      <% end %>
    </div>
  </div>
</div>