<div class="container public-box">
  <%= form_for(User.new, as: resource_name, url: session_path(resource_name), html: { class: 'custom-form-class', id: 'recaptcha-form' }, data: { turbo: false }) do |f| %>
    <img height="100" style="vertical-align:middle" alt="Espresso" class="logo mb-15" src="https://app.espressoapp.com.br/assets/icon-logo-2c16709e87b3209f5461eff6eb128d3c624138113e6d2d617d12c253831ada97.png">
    <h5 class="h3 mb-3 font-weight-normal"><%== t(:headline_login, scope: [:pages, :public]) -%></h5>
    
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: :required, class: 'form-control', placeholder: t(:email, scope: [:pages, :public, :placeholders]) %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: t(:password, scope: [:pages, :public, :placeholders]), required: :required, class: 'form-control' %>
    
    <p class="">&nbsp;</p>

    <div id='recaptcha' class="g-recaptcha"
          data-sitekey="6LfoSZAnAAAAAP72FqPT0694d54QDP-YsDde6xqT"
          data-callback="onCompleted"
          data-size="invisible"></div>
    <%= f.submit t(:cta_login, scope: [:pages, :public]),
                  class: 'btn btn-lg btn-primary btn-block mb-15' %>
    
    <p class="mb-3 text-left">
      <%= render "devise/shared/links" %>
    </p>
    <p class="mt-5 text-muted">
      &copy; <%== Date.today.strftime('%Y') -%><br>
      <%== t(:footer_copyright) -%>
    </p>
  <% end %>
</div>
